.con_azioni {
    border: 2px solid gray;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;

    .fa-pen {
        color: gray;
        font-size: 13px;
    }

    .fa-trash {
        color: gray;
        font-size: 13px;
    }
}